       .container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px 0;
        }

        .img-container {
            text-align: center;
            margin-bottom: 20px;
            flex: 0 0 calc(33.33% - 20px); 
            margin-right: 20px; 
        }

        .img-container img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        @media (max-width: 767px) {
            .container {
                flex-direction: column;
                align-items: center;
            }
            .img-container {
                margin-right: 0; 
                margin-bottom: 20px; 
                width: 80%; 
            }
        }