h2 {
    color: rgb(32, 32, 32);
    font-size: 20px;
    margin-bottom: 10px;
}
form h2{
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #00b386;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.form-group input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
span {
    color: red;
    font-size: smaller;
}