.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: rgb(32, 32, 32);
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: rgb(32, 32, 32);
    font-size: 16px;
    line-height: 1.5;
}
